@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  display: flex;
}
.sidebar {
  background-color: #000;
  color: #fff;
  width: 15vw;
  height: 100vh;
  padding-left: 4rem;
  padding-top: 3rem;
}
.logo {
  font-size: 30px;
  font-weight: bolder;
}
.sidebar ul {
  margin-top: 5rem;
}

.sidebar ul li {
  list-style: none;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 20px;
}

.sidebar ul li:hover {
  font-weight: bold;
  cursor: pointer;
}

.active {
  font-weight: bold;
  position: relative;
  width: fit-content;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, #ffb147, #ff6c63, #b86adf);
}

.main-bar {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10%;
}

.main-bar .left {
  position: relative;
  width: 50%;
}
.main-bar .left .div {
  padding: 0 5%;
  margin-right: 7%;
}
.main-bar .left div p {
  font-size: 32px;
  margin-top: 24px;
}
.main-bar .left div p strong {
  font-style: italic;
}
.text-left {
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 90px;
}
.main-bar .right {
  width: 50%;
}

.left button {
  display: flex;
  justify-items: center;
  background-color: #000;
  color: white;
  border: none;
  font-size: 18px;
  padding: 18px 40px;
  cursor: pointer;
  margin-left: 5%;
  margin-top: 40px;
}
.north-east {
  background: url("/images/north_east.svg");
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.bg {
  background: url("/images/homeImg.svg");
  background-size: fit;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 5%;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
a {
  text-decoration: none;
  color: #fff;
}

.main-bar-about {
  overflow-y: auto;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
}

.main-bar-about .left {
  width: 30%;
  padding-top: 40px;
}
.left-bar {
  height: 100vh;
  overflow-y: auto;
}
.left .bg {
  background: url("/images/Img.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 430px;
  width: 430px;
  margin-top: 70px;
}
.left h3 {
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
}
.left h1 {
  text-transform: uppercase;
}
.info-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.info-pic h1 {
  font-size: 48px;
  background: -webkit-linear-gradient(right, #ffb147, #ff6c63, #b86adf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-pic p {
  font-size: 24px;
}
.download-icon {
  background: url("/images/north_east1.svg");
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.download-cv {
  display: flex;
  margin-top: 40px;
  font-size: 18px;
}

.download-cv span {
  text-decoration: underline;
  cursor: pointer;
}
.main-bar-about .right {
  width: 70%;
  padding-top: 10%;
  padding-right: 10%;
  margin-left: 10%;
}
.right .details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  font-size: 18px;
  border-bottom: 2px solid #e3e3e3;
}
.details div {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 10px;
  font-style: italic;
}
.comm {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url("/images/Icon.svg");
  background-size: cover;
  margin-right: 10px;
}

.contactIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url("/images/contact.svg");
  background-size: cover;
  margin-right: 10px;
}

.messageIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url("/images/message.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.locationIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url("/images/loc.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.right .exp-year {
  margin-top: 40px;

  width: 50%;
  margin-right: 50px;
}

.exp-year .title {
  display: flex;
  align-items: center;
}
.exp-year .title .num {
  font-size: 48px;
  font-weight: 900;
  background: -webkit-linear-gradient(right, #ffb147, #ff6c63, #b86adf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.exp-year .title .num-title {
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  line-height: 30px;
  margin-left: 15px;
}
.exp-year p span {
  color: #b86adf;
}
.exp-year-container {
  display: flex;
}

.exp-year p {
  margin-top: 10px;
  font-size: 18px;
}
.quote {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 50px;
  margin-top: 70px;
}
.quote p {
  font-size: 20px;
  line-height: 32px;
  padding-left: 10px;
  font-style: italic;
  font-weight: 700;
}
.quoteIcon {
  width: 100px;
  height: 90px;
  background: url("/images/ri_double-quotes-r.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer {
  margin-top: 60px;
  background: -webkit-linear-gradient(right, #ffb147, #ff6c63, #b86adf);
  padding: 5%;
  color: #fff;
  display: flex;
  width: 86%;
}
.exp-footer {
  width: 30%;
}
.exp-footer button {
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 18px;
  display: flex;
  padding: 15px 20px;
  margin-top: 50px;
}
.exp-footer h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-style: italic;
  margin-bottom: 25px;
}
.exp-footer h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
}
.exp-footer p {
  font-size: 18px;
  line-height: 28px;
}

.exp-footer-right {
  width: 70%;
  margin-left: 15%;
  border-bottom: 2px solid #e3e3e3;
  height: 120px;
}

.exp-footer-right h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-style: italic;
  margin-bottom: 25px;
}
.exp-footer-right h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
}
.job {
  display: flex;
  justify-content: space-between;
}
.left-blog {
  display: flex;
  justify-content: center;
}
.main-bar-blog {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.main-bar-blog h3 {
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
}

.main-bar-blog h1 {
  text-transform: uppercase;
  margin-top: 24px;
  font-size: 48px;
}
.main-bar-blog .blog-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.blog-container .blog-card-img {
  width: 315px;
  height: 260px;
}

.blog-container .blog-card {
  width: 315px;
  height: 400px;
  border-bottom: 1px solid #e2e2e2;
  margin: 0 40px;
  cursor: pointer;
}

.blog-container .blog-card .date-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.date-comment .date {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
.date-comment .comment {
  font-size: 18px;
  text-decoration: underline;
  font-style: italic;
}

.blog-card .blog-title {
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

.main-bar-blog button {
  background-color: #000;
  color: #fff;
  display: flex;
  border: none;
  margin-top: 100px;
  padding: 10px 20px;
  font-size: 18px;
}
.hidden {
  display: none;
}
